

.user-profiles-list-small{
    list-style:none;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}

.user-profiles-list-small li{
    display: inline-block;
    box-sizing:border-box;
    position: relative;
    border-radius: 3%;
    text-align:left;
    font:normal 14px sans-serif;

    background-color:#f8f8ff;
    border:1px solid #1c2326;

    width:20%;
    margin: 12px;
}

.user-profiles-list-small .user-avatar{
    float: left;
    padding: 10px 15px;
}

.user-profiles-list-small .user-avatar img{
    border-radius: 4%;
    border:0;
}

.user-profiles-list-small .user-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    margin: 19px 0 0;
    max-width: 150px;
}

.user-profiles-list-small .user-name a{
    color:#1c2326;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.user-profiles-list-small .user-name span{
    display: block;
    font-size: 12px;
    color:#1c2326;
    padding-top:4px;
    font-family: 'Times New Roman', Times, serif;
}

.user-profiles-list-small .delete{
    background-color:#de4a4a;
    border-radius: 50%;
    color:#fff;
    font-size:13px;
    line-height: 22px;
    width:22px;
    height: 22px;
    position: absolute;
    top:-10px;
    right:-10px;
    text-align: center;
    text-decoration: none;
}


h1 { color: #1c2326; font-family: 'Open Sans', sans-serif; font-size: 34px; font-weight: 300; line-height: 40px; margin: 0 0 16px; }